.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(9, 1, 27, 0.904);
    /* background-color: #fff; */
    color: rgb(255, 255, 255);
    text-align: center;
    font-family:montserrat;
    opacity:.8;
}
.heading{
    position: absolute;
    top: 147px;
    left: 285px;
    width: 782px;
    height: 125px;
    text-align: left;
    font: normal normal medium 102px/125px Montserrat;
    letter-spacing: 0px;
    color: #000000;
    text-shadow: 12px 10px 6px #00000029;
    opacity: 1;
}
.loginbut{
    position: absolute;
    top: 5%;
    left: 77%;
    width: 145px;
    height: 49px;
    background: #1F7680 ;
    box-shadow: -13px 12px 12px #00000029;
    border-radius: 56px;
    opacity: 1;
    outline: none;
    border:none;
    font: normal normal 400 20px/20px Montserrat;
    cursor:pointer;
}
.regbut{
position: absolute;
top: 5%;
left: 88%;
width: 145px;
height: 49px;
background: #F32A59 ;
box-shadow: -10px 15px 6px #00000029;
opacity: 1;
border-radius: 56px;
outline: none;
border:none;
font: normal normal 400 20px/20px Montserrat;
cursor: pointer;

}



.back{
    background-image: url('moneymagic/myapp/static/media/back.png');
    background-size: cover;
    
    
    
    height: 100vh;
    padding:0;
    margin:0;
}