{% extends 'maintemp.html' %}
{% load static %}

{% block content %}
<h3 style="font-family:montserrat">Calendar</h3>

<iframe src="https://calendar.google.com/calendar/embed?height=646&amp;wkst=1&amp;bgcolor=%2343425d&amp;ctz=Asia%2FKolkata&amp;src=dGlzNjk2aHYyMmg3ZmtzZW5mcGdwYWZvaDhAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;src=aTZqZ2xtbmUxNHVibmUzZ3FwMGw5ZGNzNGdAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;src=ZDltbGRsMDdib2lqNzR2NTUyczRuZWY1ZmdAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;color=%23616161&amp;color=%23AD1457&amp;color=%23F09300&amp;showPrint=0&amp;showNav=0&amp;showTitle=0&amp;showCalendars=1&amp;showTz=0" style="border:solid 1px #777" width="700" height="646" frameborder="0" scrolling="no"></iframe>{% endblock content %}