{% extends 'maintemp.html' %}
{% load static %}

{% block content %}
<style>
	.input {
	margin: 8%;
	width: 40%;
	padding: 15px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	border: none;
	outline: none;
	color:black;
    border-radius: 1px;
	background-color: #fff;
	border-bottom: 1px solid rgb(5, 5, 5);
    opacity:.8;
}
.input1 {
	pointer-events: none; 

	margin: 8%;
	width: 40%;
	padding: 15px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	border: none;
	outline: none;
	color:black;
    border-radius: 1px;
	background-color: #fff;
	border-bottom: 1px solid rgb(5, 5, 5);
    opacity:.8;
}
.button{
width: 130px;
height: 35px;
background: #43425D 0% 0% no-repeat padding-box;
border: 1px solid #43425D;
border-radius: 4px;
opacity: 1;
color:white;
cursor: pointer;
outline: none;
transition: 0.5s ease;
}
.button:hover {
transform: scale(1.02);
}
</style>
<h3 style="font-family:montserrat">Edit Profile</h3>
<form method="POST">
	{% csrf_token %}
	{% for f in form.visible_fields %}
	<table>
		<tr>{{f}}</tr>
	</table>
	{%endfor%}
	<br>
	<button type="submit" class="button">Update Profile <i class="fa fa-check" aria-hidden="true"></i></button>
</form>
{% endblock content %}