{% extends 'maintemp.html' %}

{% load static %}
{% block content %}
<style>
.prob{
  border:none;
  outline:none;
  border-radius:5px;
  box-shadow:1px 3px 6px #ccc;
  background-color:#eef;
}
</style>
<h3> Help Center </h3>
<span class="creditcard">
  
  <form method="POST">
              {% csrf_token %}
              <div style="padding-left:25%;font-family:montserrat;">
             <table>
          {% for f in form.visible_fields %}
        <tr><td >{{f.label_tag}}</td>
        <td style="padding:10px;font-family:montserrat;">{{f}}</td>
          </tr>
          {%endfor%}
      </table>
      </div>
      <br>
          <span class="profile" style="text-align:center; display:flex; justify-content:center;"><input type="submit" value="Submit" class="editbutton"> </span>
  </form>
</span>

{% endblock content %}

