<h3 style="font-family:montserrat; text-align:center;">MONEY MAGIC</h3>

<h3>Password Reset Sent</h3>
<p>We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them Shortly</p>
<p>
If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p><br>
<span style="padding-left:46%;">
<button onclick=window.location="/login" > OK </button>
</span>

<style>
button{
width: 130px;
height: 35px;
background: #43425D 0% 0% no-repeat padding-box;
border: 1px solid #43425D;
border-radius: 4px;
opacity: 1;
color:white;
cursor: pointer;
outline: none;
transition: 0.5s ease;
text-align:center;
}
button:hover {
transform: scale(1.02);
}

</style>