asgiref==3.7.2
awsebcli==3.20.2
backports.entry-points-selectable==1.1.1
botocore==1.21.65
cement==2.8.2
certifi==2021.10.8
charset-normalizer==2.0.9
colorama==0.4.3
contourpy==1.0.7
cycler==0.11.0
distlib==0.3.4
Django==4.2.2
django-crispy-forms==2.0
exceptiongroup==1.1.1
filelock==3.4.0
fonttools==4.39.4
future==0.16.0
idna==3.3
iniconfig==2.0.0
jmespath==0.10.0
kiwisolver==1.4.4
matplotlib==3.7.1
mysqlclient==2.1.1
numpy==1.24.3
packaging==23.1
pathspec==0.5.9
Pillow==9.5.0
platformdirs==2.4.0
pluggy==1.0.0
pyparsing==3.0.9
pypiwin32==223
pytest==7.3.1
python-dateutil==2.8.2
pywin32==302
PyYAML==5.4.1
requests==2.26.0
semantic-version==2.8.5
six==1.14.0
sqlparse==0.4.4
termcolor==1.1.0
tomli==2.0.1
typing_extensions==4.6.3
tzdata==2023.3
urllib3==1.26.7
virtualenv==20.10.0
wcwidth==0.1.9
